<nav class="workshops">
	<h2>Monthly Workshops</h2>
	<p>
		Aside from our regular monthly meetings, Phoenix JavaScript
		also hosts monthly workshops at the Phoenix Library. Come experience
		some hands-on learning with developers of all skills. Visit our
		<a href="http://www.meetup.com/Phoenix-JavaScript">Meetup Page</a>
		for more information.
	</p>
</nav>

{% include events/months.html %}

<section>
	<h2>Stickers!</h2>
	Want to buy our sticker at <a href="http://www.stickermule.com/marketplace/2711-phoenix-javascript">StickerMule</a>
</section>
