<footer class="primary">
	<div id="contact">
		<div class="organizers">
			<div>
				<span class="name">Brad Westfall</span>
				(<i class="fa fa-envelope"></i> brad at azpixels.com)
				<a href="https://twitter.com/bradwestfall"><i class="fa fa-twitter"></i> @bradwestfall</a>
			</div>
			<div>
				<span class="name">Brandon Mason</span>
				(<i class="fa fa-envelope"></i> brad at tlsft.com)
				<a href="https://twitter.com/brandonjmason"><i class="fa fa-twitter"></i> @tlsft</a>
			</div>
		</div>
		<div class="general">
			<a href="http://twitter.com/phxjavascript"><i class="fa fa-twitter"></i> @phxjavascript</a>
			<a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i> Event RSS Feed</a>
		</div>
	</div>
</footer>