// Theme
$orange: #E86433;
$line-color: rgba(255,255,255,0.5);

// Reset Vars
$default-font-family: 'Open Sans', Arial;
$default-text-color: #9D7F53;
$default-anchor-color: $orange;

// Title Font
$title-font-family: 'Marcellus SC';

// Structure
$default-page-width: 960px;

// Common Breakpoints
$desktop-breakpoint: 1050px;
