html {
	color: $default-text-color;
	font-family: $default-font-family;
}
* {
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
html, body { height: 100%; padding: 0; margin: 0; }
body { min-height: 100%; }
img { border: 0; }
a {
	color: $default-anchor-color;
	&:focus, a:active {
		outline: 0;
	}
}
